@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* line 4, ../scss/home.scss */
header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
}
/* line 10, ../scss/home.scss */
header .container {
  padding: 30px 0;
}
/* line 13, ../scss/home.scss */
header .container .header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 16, ../scss/home.scss */
header .container .header-navigation ul {
  display: flex;
  gap: 30px;
}
/* line 20, ../scss/home.scss */
header .container .header-navigation ul li a {
  font-family: "Raleway", sans-serif;
  color: #070439;
  text-align: 16px;
  font-weight: 400;
}

/* line 34, ../scss/home.scss */
main .secao-1 .content,
main .secao-2 .content,
main .secao-03 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 30px;
}
/* line 38, ../scss/home.scss */
main .secao-1 .content .bloco1,
main .secao-1 .content .bloco2,
main .secao-2 .content .bloco1,
main .secao-2 .content .bloco2,
main .secao-03 .content .bloco1,
main .secao-03 .content .bloco2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 770px) {
  /* line 34, ../scss/home.scss */
  main .secao-1 .content,
  main .secao-2 .content,
  main .secao-03 .content {
    flex-direction: column;
  }
}
/* line 49, ../scss/home.scss */
main .secao-1 {
  margin-bottom: 300px;
}
/* line 52, ../scss/home.scss */
main .secao-1 #btn-input {
  display: flex;
  gap: 15px;
  height: 40px;
}
/* line 58, ../scss/home.scss */
main .secao-2 {
  background-color: #f6f6fe;
}
/* line 61, ../scss/home.scss */
main .secao-2 .img-banner {
  background: url(../images/bg-curve-desktop.svg) no-repeat;
  height: 114px;
  position: relative;
  bottom: 108px;
  background-size: 100%;
}
/* line 73, ../scss/home.scss */
main .secao-2 .container .bloco2 .text-02 img {
  position: relative;
  top: 3px;
}
/* line 80, ../scss/home.scss */
main .secao-2 .container .testimonials {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}
/* line 87, ../scss/home.scss */
main .secao-2 .container .testimonials .text {
  width: 100%;
  max-width: 340px;
  line-height: 1.4;
  margin: 15px 0;
}
/* line 94, ../scss/home.scss */
main .secao-2 .container .testimonials .content-testimonials {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* line 97, ../scss/home.scss */
main .secao-2 .container .testimonials .content-testimonials img {
  width: 100%;
  max-width: 45px;
  border-radius: 50%;
}
/* line 103, ../scss/home.scss */
main .secao-2 .container .testimonials .content-testimonials .info {
  line-height: 1.4;
}
/* line 106, ../scss/home.scss */
main .secao-2 .container .testimonials .content-testimonials .info h3 {
  font-size: 16px;
}
/* line 110, ../scss/home.scss */
main .secao-2 .container .testimonials .content-testimonials .info p {
  font-size: 13px;
}

/* line 120, ../scss/home.scss */
.secao-03 {
  background-color: #585989;
}
/* line 123, ../scss/home.scss */
.secao-03 .container {
  padding: 80px 0;
}
/* line 126, ../scss/home.scss */
.secao-03 .container .bloco-03 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}
/* line 131, ../scss/home.scss */
.secao-03 .container .bloco-03 h2,
.secao-03 .container .bloco-03 p {
  color: #fff;
}
/* line 137, ../scss/home.scss */
.secao-03 .container .bloco-04 {
  width: 100%;
  max-width: 300px;
}
/* line 141, ../scss/home.scss */
.secao-03 .container .bloco-04 #btn-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
/* line 145, ../scss/home.scss */
.secao-03 .container .bloco-04 #btn-input input,
.secao-03 .container .bloco-04 #btn-input button {
  height: 40px;
}
/* line 150, ../scss/home.scss */
.secao-03 .container .bloco-04 #btn-input input {
  max-width: 100%;
}

/* line 158, ../scss/home.scss */
footer {
  background-color: #070439;
}
/* line 161, ../scss/home.scss */
footer .container {
  padding: 80px 0;
}
/* line 164, ../scss/home.scss */
footer .container .logo-footer {
  background: url(../images/logo-footer.svg) no-repeat;
  height: 50px;
  margin-bottom: 30px;
}
/* line 170, ../scss/home.scss */
footer .container .footer-about {
  display: flex;
  justify-content: space-between;
}
/* line 173, ../scss/home.scss */
footer .container .footer-about .bloco-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* line 177, ../scss/home.scss */
footer .container .footer-about .bloco-footer .item-bloco-01 .icon {
  background: url(../images/icon-phone.svg) no-repeat;
  height: 18px;
  width: 18px;
}
/* line 185, ../scss/home.scss */
footer .container .footer-about .bloco-footer .item-bloco-02 .icon {
  background: url(../images/icon-email.svg) no-repeat;
  width: 20px;
  height: 18px;
}
/* line 192, ../scss/home.scss */
footer .container .footer-about .bloco-footer .item-bloco-01,
footer .container .footer-about .bloco-footer .item-bloco-02 {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* line 202, ../scss/home.scss */
footer .container .footer-about .item-bloco-01 .text,
footer .container .footer-about .item-bloco-01 li,
footer .container .footer-about .item-bloco-02 .text,
footer .container .footer-about .item-bloco-02 li,
footer .container .footer-about .bloco-footer-about .text,
footer .container .footer-about .bloco-footer-about li {
  color: #fff;
}
/* line 208, ../scss/home.scss */
footer .container .footer-about .bloco-footer-about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* line 211, ../scss/home.scss */
footer .container .footer-about .bloco-footer-about li {
  cursor: pointer;
}
/* line 214, ../scss/home.scss */
footer .container .footer-about .bloco-footer-about li:hover {
  color: #585989;
}
/* line 220, ../scss/home.scss */
footer .container .footer-about .bloco-footer-redes {
  display: flex;
  gap: 15px;
}
/* line 223, ../scss/home.scss */
footer .container .footer-about .bloco-footer-redes .social-1,
footer .container .footer-about .bloco-footer-redes .social-2,
footer .container .footer-about .bloco-footer-redes .social-3 {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* line 233, ../scss/home.scss */
footer .container .footer-about .bloco-footer-redes .social-1 svg path:hover,
footer .container .footer-about .bloco-footer-redes .social-2 svg path:hover,
footer .container .footer-about .bloco-footer-redes .social-3 svg path:hover {
  fill: #3065f8;
}
