@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* line 3, ../scss/_reset.scss */
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* line 8, ../scss/_reset.scss */
body,
html {
  box-sizing: border-box;
  margin: 0;
}

/* line 14, ../scss/_reset.scss */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 22, ../scss/_reset.scss */
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}
@media screen and (max-width: 770px) {
  /* line 22, ../scss/_reset.scss */
  .container {
    padding: 0 30px;
  }
}

/* line 32, ../scss/_reset.scss */
p {
  font-family: "Open Sans", sans-serif;
  color: #070439;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
}

/* line 38, ../scss/_reset.scss */
h1 {
  margin: 0;
  line-height: 1.4;
}

/* line 43, ../scss/_reset.scss */
h2 {
  margin: 0;
  line-height: 1.4;
}

/* line 49, ../scss/_reset.scss */
h3 {
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-weight: 700;
  margin: 0;
}

/* line 54, ../scss/_reset.scss */
li {
  list-style: none;
}

/* line 58, ../scss/_reset.scss */
a {
  text-decoration: none;
}
/* line 61, ../scss/_reset.scss */
a:hover {
  text-decoration: underline;
}

/* line 66, ../scss/_reset.scss */
img {
  max-width: 100%;
}

/* line 70, ../scss/_reset.scss */
#email {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 250px;
  width: 100%;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  /* line 70, ../scss/_reset.scss */
  #email {
    max-width: 100%;
  }
}

/* line 84, ../scss/_reset.scss */
button {
  min-height: 30px;
  max-width: 210px;
  width: 100%;
  background-color: #3065f8;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  height: 40px;
}
/* line 96, ../scss/_reset.scss */
button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 770px) {
  /* line 84, ../scss/_reset.scss */
  button {
    max-width: 100%;
  }
}
